body{
	font-family: 'Proxima Nova', 'Roboto', sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	background: -moz-linear-gradient(-45deg, rgba(240,249,255,0.8) 0%, rgba(203,235,255,0.8) 47%, rgba(161,219,255,0.8) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(240,249,255,0.8) 0%,rgba(203,235,255,0.8) 47%,rgba(161,219,255,0.8) 100%);
}